<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="../../lib/vue.js"></script>
    <title>Document</title>
  </head>
  <body>
    <div id="root">
      <!-- 列表循环和JS中的item of arr,item in arr用法一样,注意要加唯一标识符:key -->
      <!-- 遍历数组 -->
      <ul>
        <li v-for="person in persons">
          {{person.name}}{{person.age}}
          <input type="text">
        </li>
      </ul>


      <ul>
        <!-- 或者可以使用(item,index) in persons -->
        <li v-for="(item,index) in persons" :key="index">
          {{item.name}}{{item.age}}
        </li>
      </ul>
      
      <!-- 同时也可以遍历对象 -->
      <ul>
        <li v-for="(item,index) in car" :key="index">
          {{index}}{{item}}
        </li>
      </ul>


      <!-- 也可以遍历字符串和固定的数字(使用场景较少) -->
    </div>
  </body>
  <script>
    const vm = new Vue({
      el: "#root",
      data: {
        persons: [
          {
            id: 1,
            name: "张三",
            age: 18,
          },
          {
            id: 2,
            name: "李四",
            age: 30,
          },
          {
            id: 3,
            name: "王五",
            age: 50,
          },
        ],
      car:{
        name:'凯迪拉克',
        price:300000000,
        color:'blue'
      }
      }
    });
  </script>
</html>
