<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="./vue.js"></script>
  <title>Document</title>
</head>
<body>
  <div id="app">
    <p v-if="message">now u see me</p>
  </div>
  <div id="demo">
    <a v-bind:href="url">百度</a>
  </div>
  <div id="twoBind">
    <p>{{message}}</p>
    <input v-model="message">
  </div>

  <div id="reverse">
    <p>{{message}}</p>
    <button v-on:click="reverseMsg">文本反转</button>
  </div>
</body>
<script>
  new Vue({
    el:"#app",
    data:{
      message:true
    }
  })
  new Vue({
    el:"#demo",
    data:{
      url:"http://www.runoob.com"
    }
  })
  new Vue({
    el:"#twoBind",
    data:{
      message:'Nihao'
    }
  })
  new Vue({
    el:"#reverse",
    data:{
      message:'文本反转'
    },
    methods:{
      reverseMsg:function(){
        this.message=this.message.split('').reverse().join('')
      }
    }
  })
</script>
</html>