<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="./vue.js"></script>
  <title>Document</title>
</head>
<body>
  <div id="app">
    <ol>
      <li v-for="site in sites">{{site.name}}</li>
    </ol>
  </div>

  <div id="demo">
    <ol>
      <li v-for="value in object">{{value}}</li>
    </ol>
  </div>

  <div id="index">
    <ul>
      <li v-for="(value,key,index) in object">
        {{index}}.{{key}}:{{value}}
      </li>
    </ul>
  </div>

  <div id="inte">
    <ul>
      <li v-for="n in 10">
        {{n}}
      </li>
    </ul>
  </div>
</body>
<script>
  new Vue({
    el:"#app",
    data:{
      sites:[
        {name:"1.Google"},
        {name:"2.Edge"},
        {name:"3.FireFox"}
      ]
    }
  })

  new Vue({
    el:"#demo",
    data:{
      object:{
        name:"BaiDu",
        site:"www.baidu.com",
        slogan:"u will know after baidu"
      }
    }
  })
  new Vue({
    el:"#index",
    data:{
      object:{
        name:"BaiDu",
        site:"www.baidu.com",
        slogan:"u will know after baidu"
      }
    }
  })
  new Vue({
    el:"#inte"
  })
</script>
</html>